# DATABASE CONFIG
DB_HOST=""
DB_PORT=""
DB_USERNAME=""
DB_PASSWORD=""
DB_NAME=""

# SMTP CONFIG
MAIL_USER=""
MAIL_PASSWORD=""

# FLUTTERWAVE CONFIG
FLUTTERWAVE_PUBLIC_KEY=""
FLUTTERWAVE_SECRET_KEY=""
FLUTTERWAVE_ENCRYPTION_KEY=""

# API CONFIG
PORT=""
API_PREFIX=""

# JWT SECRET CONFIG
JWT_SECRET=""

